
.okhttpcache
.vscode
bin
.classpath
.project
.settings
.gradle
build
.idea
**/generated-source/*
examples/*/gradle
examples/*/gradlew
examples/*/gradlew.bat
examples/*/.gradle
examples/*/build
examples/openapi/build.mjs
examples/openapi/dts-config.js
examples/openapi/package.json
examples/openapi/src/*
examples/openapi/template/
examples/openapi/tsconfig.json
examples/openapi/example-jaxrs-spec
examples/openapi/example-spec

